@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&subset=latin-ext");
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #0E0519;
}

body h2 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: 2em;
}

body p {
  font-size: 14px;
}

body .parall {
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.sidenav {
  width: 130px;
  position: fixed;
  margin-top: 9.375em;
  z-index: 1;
  top: 1.25em;
  right: 0.625em;
  background: #0005ff;
  overflow-x: hidden;
  padding: 0.5em 0;
  padding-top: 1em;
}

@media screen and (max-width: 450px) {
  .sidenav {
    width: 3.5em;
  }
}

.sidenav a {
  padding: 0.375em 0.5em 0.375em 1em;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sidenav a img {
  width: 1.5em;
  margin-right: 1em;
}

.sidenav a:hover {
  color: #0E0519;
}

.navname {
  font-size: 0.75em;
}

@media screen and (max-width: 450px) {
  .navname {
    display: none;
  }
}

.main {
  margin-left: 8.75em;
  font-size: 1.75em;
  padding: 0 0.625em;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 1em;
  }
  .sidenav a {
    font-size: 1.125em;
  }
}

.contact-top {
  width: 100%;
  height: 5.5em;
  background-color: transparent;
  position: fixed;
  z-index: 100000;
}

@media (max-width: 540px) {
  .contact-top {
    background-color: #fff;
    height: 60px;
  }
}

.contact-top img {
  padding-top: 24px;
  width: 130px;
  padding-right: 16px;
}

@media (max-width: 540px) {
  .contact-top img {
    padding-top: 16px;
  }
}

/*header*/
.kobieta {
  padding-top: 96px;
}

@media (max-width: 540px) {
  .kobieta {
    padding-top: 0px;
  }
}

.kobieta img {
  z-index: -10 !important;
  position: relative;
}

.square {
  height: 750px;
  border-left: 0px solid;
  border-bottom: 0px solid;
  margin: 0 auto;
  margin-top: -550px;
  position: relative;
  color: white;
}

.square h1 {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
  line-height: 0.8;
  padding-top: 202px;
}

.square .subtitle {
  font-weight: 100;
  font-size: 48px;
}

.square .sprawdzto {
  width: 200px;
  background-color: #0005ff;
  border-radius: 0;
  border: 0;
  display: block;
  cursor: pointer;
  color: #fff !important;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px #fff;
  box-shadow: 0;
  z-index: 93;
  padding: 1em 3em;
  margin: 0 auto;
  margin-top: 2em;
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0);
}

.square .sprawdzto:hover {
  color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 5, 255, 0.5);
  background-color: #0005ff;
}

.square .sprawdzto:active {
  box-shadow: 0 0 0 0 transparent;
}

.square .sprawdzto:before {
  content: '';
  display: block;
  width: 0px;
  height: 70%;
}

.square a {
  color: #fff !important;
}

#onas {
  width: 100%;
  margin-top: -220px;
  position: relative;
  z-index: -1;
}

#onas h2 {
  padding-top: 200px;
  margin-bottom: 80px;
  margin-top: -150px;
  position: relative;
  z-index: 10;
}

#onas .skorzystalo {
  font-size: 32px;
  font-weight: 600;
  color: #0E0519;
}

#onas p {
  line-height: 1.8;
  color: #0E0519;
  font-size: 16px;
}

#onas .kw {
  border-left: 10px solid;
  height: 100%;
  border-color: #0005ff;
  margin-top: 0;
  content: " ";
  position: relative;
  z-index: 100;
}

.oferta {
  padding-top: 150px;
  padding-bottom: 200px;
}

.oferta img {
  width: 43px;
  margin-right: 8px;
}

.oferta h3 {
  font-size: 14px;
}

@media screen and (max-width: 993px) {
  .oferta h3 {
    font-size: 16px;
  }
}

.oferta h2 {
  margin-bottom: 80px;
}

.oferta .ofertix :hover {
  -webkit-box-shadow: 4px 20px 34px -10px rgba(0, 5, 255, 0.21);
  -moz-box-shadow: 4px 20px 34px -10px rgba(0, 5, 255, 0.21);
  box-shadow: 4px 20px 34px -10px rgba(0, 5, 255, 0.21);
  border-bottom: 5px solid;
  border-color: #0005ff;
}

.oferta .ofert {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  height: 100px;
  padding-left: 48px;
}

@media screen and (max-width: 993px) {
  .oferta .ofert {
    margin-bottom: 16px;
  }
}

.oferta .ofert :hover {
  box-shadow: none;
  border: 0px;
}

.instruktorzy {
  margin-bottom: 220px;
}

@media screen and (max-width: 768px) {
  .instruktorzy .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

.instruktorzy .instrukt {
  margin-bottom: 120px;
}

.instruktorzy h2 {
  text-align: left;
}

.instruktorzy p {
  line-height: 1.8;
  color: rgba(14, 5, 25, 0.67);
}

.instruktorzy .kw {
  border-left: 10px solid;
  border-bottom: 10px solid;
  border-color: #0005ff;
  height: 500px;
  content: " ";
}

@media screen and (max-width: 576px) {
  .instruktorzy .kw {
    height: 300px;
  }
}

.instruktorzy .kw2 {
  border-right: 10px solid;
  border-bottom: 10px solid;
  border-color: #0005ff;
  height: 500px;
  content: " ";
}

@media screen and (max-width: 576px) {
  .instruktorzy .kw2 {
    height: 300px;
  }
}

.instruktorzy .read-more-state {
  display: none;
}

.instruktorzy .read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.instruktorzy .read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.instruktorzy .read-more-state ~ .read-more-trigger:before {
  content: ' ';
}

.instruktorzy .read-more-state:checked ~ .read-more-trigger:before {
  content: ' ';
}

.instruktorzy .read-more-trigger {
  width: 160px;
  background-color: #0005ff;
  border-radius: 0;
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px #fff;
  box-shadow: 0;
  z-index: 93;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  margin-top: 1em;
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0);
}

.instruktorzy .read-more-trigger:hover {
  color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 5, 255, 0.5);
  background-color: #0005ff;
}

.instruktorzy .read-more-trigger:active {
  box-shadow: 0 0 0 0 transparent;
}

.instruktorzy .read-more-trigger:before {
  content: '';
  display: block;
  width: 0px;
  height: 100%;
}

.publikacje {
  align-items: center;
  text-align: center;
}

.publikacje .publikacje1 {
  background-color: #0005ff;
  height: 120px;
}

.publikacje .scenariusz1 {
  background-color: #00039B;
  height: 120px;
  padding: 40px;
}

.publikacje .scenariusz2 {
  background-color: #00039B;
  height: 120px;
  padding: 40px;
}

.publikacje h2 {
  color: #fff;
  font-size: 36px;
  padding-top: 36px;
}

.publikacje h3 {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.publikacje h4 {
  color: #fff;
  font-size: 12px;
}

.referencje {
  padding-top: 120px;
  padding-bottom: 120px;
}

.referencje h3 {
  font-size: 16px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 48px;
  color: rgba(5, 5, 11, 0.67);
}

.referencje .slide {
  margin-bottom: 56px;
}

.referencje .carousel-inner img {
  margin-right: 16px;
}

.referencje .carousel-inner li {
  color: rgba(5, 5, 11, 0.8);
}

.siabadaba {
  border-top: 10px solid;
  border-color: #0005ff;
}

#kontakt {
  display: block;
  background-color: #0005ff;
  color: #fff;
  height: 700px;
  width: 100%;
  margin-top: -1200px;
}

@media (max-width: 991px) {
  #kontakt {
    height: 1000px;
  }
}

#kontakt h2 {
  font-size: 48px;
  text-align: center;
  padding-top: 80px;
}

#kontakt h4 {
  font-size: 18px;
  margin-bottom: 32px;
  font-weight: 600;
}

#kontakt h5 {
  font-size: 14px;
  font-weight: 600;
}

#kontakt h6 {
  font-size: 14px;
  line-height: 1.4;
}

#kontakt .dane {
  margin-top: 16px;
}

#kontakt .form-control {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-radius: 0px;
}

@media (max-width: 991px) {
  #kontakt form {
    padding-top: 32px;
  }
}

#kontakt .socialmedia {
  height: 25px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 64px;
}

#kontakt ::-webkit-input-placeholder {
  color: #fff;
  font-size: 12px;
}

#kontakt :-moz-placeholder {
  color: #fff;
  font-size: 12px;
}

#kontakt ::-moz-placeholder {
  color: #fff;
  font-size: 12px;
}

#kontakt :-ms-input-placeholder {
  color: #fff;
  font-size: 12px;
}

#kontakt .wyslij {
  width: 140px;
  background-color: transparent;
  border: 1px solid;
  border-color: #fff;
  border-radius: 0;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 2px #fff;
  box-shadow: 0;
  z-index: 93;
  padding: 1em 1em;
  margin-top: 3em;
  margin-bottom: 2em;
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0);
}

#kontakt .wyslij:hover {
  background-color: #fff;
  color: #0005ff;
  box-shadow: 0 0 30px 0 rgba(0, 5, 255, 0.5);
}

#kontakt .wyslij:active {
  box-shadow: 0 0 0 0 transparent;
}

#kontakt .wyslij:before {
  content: '';
  display: block;
  width: 0px;
  height: 70%;
}

.list-group-item {
  border: 0px solid !important;
}
/*# sourceMappingURL=style.css.map */